<!DOCTYPE html>
<html>
<head>
	<title>IRC&copy;</title>
	<link rel="stylesheet" href="/styles/chat.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

  <!-- materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


  <!-- materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>
<body>
  <div class="section"></div>
  <div class="section"></div>

  <div class="container" id="chat-container">

  	<div id="top" >
      <span><%= username %></span>
  		<img id = "icon" src="<%= image %>" width="5%" height="5%">
  	</div>
    <div class="chat">
        <div class="dummy"></div>
    </div>
  	<!-- <div id="chat" ></div> -->

  	<form id="send-msg">
  		<input type="text" size="35" id="message">
  		<input type="submit">
  	</form>
  </div>

  <div class="bg"></div>


  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		var socket = io.connect();
      var password = "<%= password %>";
      var username = "<%= username %>";

      //subscribe to a channel
      socket.emit('subscribe', password);

  		var $messageForm = $('#send-msg');
  		var $messageBox = $('#message');
  		var $chat = $('.chat');
      
  		$messageForm.submit(function(event) {
  			event.preventDefault();
  			socket.emit('send message', {
                                    message: $messageBox.val(),
                                    room: password,
                                    username: username
                                    });

  			$messageBox.val('');
  		});

  		socket.on('new message', function(data){
  			$("<div class=\"add-msg\">" + "<h6 style=\"color: orange;\">" + data.username + "</h6>" + data.message + "<div/>").insertBefore('.dummy');
        $('.chat').scrollTop($('.add-msg')[0].scrollHeight);
  		});
  	});
  </script>
</body>
</html>