<html>
<head>
	<title>Nutsack Chatroom</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link rel="stylesheet" href="styles/index.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif|Ubuntu" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<link href="https://file.myfontastic.com/X9Fi5hPV3VGY2Yh5NaPfLi/icons.css" rel="stylesheet">
</head>
<body style="background-color: #fafafa;">
	<div class="section"></div>
	<div class="section"></div>

	<h1 id = "main_title">Nutsack Chatroom</h1>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="row">
		<div class = "col m2"></div>
		<div class="col s12 m3 z-depth-1" id = "create_card">
				<h1 id = "create_header">CREATE</h1>
				<p id = "create_descp">Create your own Nutsack chatroom!</p>
				<!-- <img id = "create_img" src="images/create.png"> -->

				<div class="section">
				<div class="section"></div>
					<div class="col s12 m4"></div>
					<div class="col s12 m4 center">
						<i class="icon-compose" style="font-size: 6rem;"></i>
					</div>
					<div class="col s12 m4"></div>
				</div>
				<div class="section"></div>
				<div class="section"></div>
				<div class="section"></div>
				<div class="section"></div>
			<div>
				<a href="#create_modal" class = "modal-trigger waves-effect waves-light" id = "create_btn">Create a Nutsack</a>
			</div>
		</div>
		<div class = "col m2"></div>
		<div class="col s12 m3 z-depth-1" id = "join_card">
			<h1 id = "join_header">JOIN</h1>
			<p id = "join_descp">Join a Nutsack chatroom!</p>
			<!-- <img id = "join_img" src="images/join.png"> -->

			<div class="section">
			<div class="section"></div>			
				<div class="col s12 m4"></div>
				<div class="col s12 m4 center">
					<i class="icon-sign-in" style="font-size: 6rem;"></i>
				</div>
				<div class="col s12 m4"></div>
			</div>
			<div class="section"></div>
			<div class="section"></div>
			<div class="section"></div>
			<div class="section"></div>

			<div>
				<a href = "#join_modal" class = "waves-effect waves-light" id = "join_btn">Join a Nutsack</a>
			</div>
		</div>
		<div class = "col m2"></div>
	</div>
	<!-- Create Modal div -->
	<div id="create_modal" class="modal">
		<div class="modal-content">
			<h1 id = "create_header" style = "font-size: 25px;">Create your Nutsack</h1>
			<div class="input-field col s6">
				<input id="first_name2" type="text" class="validate">
				<label class="active" for="first_name2">Name your Nutsack</label>
			</div>
		</div>
		<div class="modal-footer">
			<div>
				<a href="#!" style = "margin: 0px 300px 20px 300px; padding: 5px 0 5px 0;" id = "create_btn" class="modal-action modal-close waves-effect">Create</a>
			</div>
		</div>
	</div>

	<div id="join_modal" class="modal">
		<div class="modal-content">
			<h1 id = "join_header" style = "font-size: 25px;">Join a Nutsack</h1>
			<p style = "text-align: center; color: #B7B8B6;" >Each Nutsack has its own unique key. <br> Key must be provided in order to join a Nutsack.</p>
			<div class="input-field col s6">
				<input id="first_name2" type="text" class="validate">
				<label class="active" for="first_name2">Nutsack key</label>
			</div>
		</div>
		<div class="modal-footer">
			<div>
				<a href="#!" style = "margin: 0px 300px 20px 300px; padding: 5px 0 5px 0;" id = "join_btn" class="modal-action modal-close waves-effect">Join</a>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
		});
	</script>
</body>
</html>
