<html>
<head>
	<!-- App title -->
	<title>Nutsack Chatroom</title>

	<!-- materialize css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<!-- custom css -->
	<link rel="stylesheet" href="styles/index.css">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif|Ubuntu" rel="stylesheet">

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- materialize js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	<!-- fontastic -->
	<link href="https://file.myfontastic.com/X9Fi5hPV3VGY2Yh5NaPfLi/icons.css" rel="stylesheet">
</head>

<body style="background-color: #fafafa;">
	<!-- Page tite -->
	<div class="section"></div>
	<div class="section"></div>

	<h1 id = "main_title">Nutsack Chatroom</h1>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>

	<div class="row">
		<!-- Create new room -->
		<div class = "col m2"></div>
		<div class="col s12 m3 z-depth-1" id = "create_card">
				<h1 id = "create_header">CREATE</h1>
				<p id = "create_descp">Create your own Nutsack chatroom!</p>
				<div class="section">
				<div class="section"></div>
					<div class="col s12 m4"></div>
					<div class="col s12 m4 center">
						<i class="icon-compose" style="font-size: 6rem;"></i>
					</div>
					<div class="col s12 m4"></div>
				</div>
				<div class="section"></div>
				<div class="section"></div>
				<div class="section"></div>
				<div class="section"></div>
			<div>
				<a href="#create_modal" class = "modal-trigger waves-effect waves-light" id = "create_btn">Create a Nutsack</a>
			</div>
			<div class="section"></div>
		</div>
		<div class = "col m2"></div>

		<!-- Join an existing room -->
		<div class="col s12 m3 z-depth-1" id = "join_card">
			<h1 id = "join_header">JOIN</h1>
			<p id = "join_descp">Join a Nutsack chatroom!</p>
			<div class="section">
			<div class="section"></div>			
				<div class="col s12 m4"></div>
				<div class="col s12 m4 center">
					<i class="icon-sign-in" style="font-size: 6rem;"></i>
				</div>
				<div class="col s12 m4"></div>
			</div>
			<div class="section"></div>
			<div class="section"></div>
			<div class="section"></div>
			<div class="section"></div>
			<div>
				<a href = "#join_modal" class = "waves-effect waves-light" id = "join_btn">Join a Nutsack</a>
			</div>
			<div class="section"></div>
		</div>
		<div class = "col m2"></div>
	</div>

	<!-- Create modal -->
	<div id="create_modal" class="modal">
		<form action="/chat" method="POST">	
			<div class="modal-content">
				<h1 id = "create_header" style = "font-size: 25px;">Create your Nutsack</h1>
				<p style = "text-align: center; color: #B7B8B6;" >Give your chatroom a name.</p>
				<div class="row">
					<div class="col s3"></div>
					<div class="input-field col s6">
							<input id="nutsack_name" type="text" name="chatroom[name]" class="validate">
							<label class="active" for="nutsack_name">Name your Nutsack</label>
					</div>
					<div class="col s3"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div>
					<!-- <a href="#!" style = "margin: 0px 300px 20px 300px; padding: 5px 0 5px 0;" id = "create_btn" class="modal-action modal-close waves-effect">Create</a> -->
					<button style = "margin: 0px 300px 20px 300px; padding: 5px 0 5px 0;" id = "create_btn" class="modal-action modal-close waves-effect">Create</button>
				</div>
			</div>
			<div class="section"></div>
		</form>
	</div>

	<!-- join modal -->
	<div id="join_modal" class="modal">
		<div class="modal-content">
			<h1 id = "join_header" style = "font-size: 25px;">Join a Nutsack</h1>
			<p style = "text-align: center; color: #B7B8B6;" >Each Nutsack has its own unique key. <br> Key must be provided in order to join a Nutsack.</p>
			<div class="row">
				<div class="col s3"></div>
				<div class="input-field col s6">
					<input id="nutsack_key" type="text" class="validate">
					<label class="active" for="nutsack_key">Nutsack key</label>
				</div>
				<div class="col s3"></div>
			</div>
		</div>
		<div class="modal-footer">
			<div>
				<a href="#!" style = "margin: 0px 300px 20px 300px; padding: 5px 0 5px 0;" id = "join_btn" class="modal-action modal-close waves-effect">Join</a>
			</div>
		</div>
		<div class="section"></div>
	</div>

	<script>
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();	
		});
	</script>
</body>
</html>
