html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #044f48, #2a7561);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#chat-container {
  position: absolute;
  z-index: 3;
  left: 35%;
}

.chat {
  max-width: 40%;
  height: 500px;
  border-color: #03A9F4;
  background-color: rgba(22,29,41, 0.6);
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 10px 15px 10px;
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  overflow: auto;
  overflow-x: hidden;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #03A9F4;
}

#send-msg {
    max-width: 40%;
    margin-right: 0 !important;
}

#icon {
    top: 10px;
    left: 20px;
    float: left;
    position: absolute;
    z-index: 4;
    border-radius: 100%;
    height: 55px;
}

#top {
  max-width: 40%;
  border-top-left-radius:2em;
  border-top-right-radius:2em;
  background-color: rgba(18,24,34,0.7);
  padding: 0px 10px 15px 10px;
  height: 75px;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;
  filter: blur(80px);
}

span {
  position: absolute;
  padding-left: 80px;
  top: 25px;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

.add-msg{
  padding: 10px;
  background: #ffd699;
  min-height: 50px;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  border-radius: 5px;
  position: relative;
}
.add-msg:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 22px;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #ffe0b2 transparent transparent;
}
